<ion-content [fullscreen]="true" color="dark">
    <!-- <ion-row>
        <ion-col size="auto">
            <ion-button color="success">Buy</ion-button>
        </ion-col>
        <ion-col>
            <input type="number" class="form-control" placeholder="Lot Size">
        </ion-col>
        <ion-col>
            <ion-input label="Open Price"></ion-input>
        </ion-col>
    </ion-row>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary">
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="form-floating">
        <ion-input label="Username" label-placement="floating" fill="outline"
            placeholder="Enter username" type="text"></ion-input>
    </div> -->
</ion-content>