<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Personal Trading</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Insider Trading: {{ insiderTrading.length }} - {{ insiderTradingFiltered.length }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Shareholding Patterns: {{ shareholdingPatterns.length }} - {{ shareholdingPatternsFiltered.length
      }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>SAST Reg29: {{ SASTReg29.length }} - {{ SASTReg29Filtered.length}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pledged Data: {{ pledgedData.length }} - {{ pledgedDataFiltered.length}}</ion-label>
  </ion-item>

  <ion-list>
    <ion-card *ngFor="let item of pledgedDataFiltered; let i = index" style="margin: 5px; position: relative;">
      <ion-icon name="copy-outline"
        style="cursor: pointer; position: absolute; top: 10px; right: 10px; font-size: 20px; z-index: 10;"
        (click)="copyToClipboard(item.COMPANY)"></ion-icon>
      <ion-card-header style="padding: 5px;">
        <ion-card-title style="font-size: 20px;">
          {{ i + 1 }}. {{ item.COMPANY }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content style="padding: 5px;">
        <p style="font-weight: 700;">Total Share: {{ item['NO. OF SECURITIES (ACQUIRED/DISPLOSED) \n'] | number }}</p>
        <p style="font-weight: 700;"> Total Purchase: {{ convertToCrores(item['VALUE OF SECURITY (ACQUIRED/DISPLOSED)
          \n']) }}</p>
        <p style="font-weight: 700; display: inline;">Avg. Purchase: </p>
        <span style="color: green; font-weight: 700;">{{ item['Average_Purchase'] | number: '1.2-2' }}</span>
        <p style="font-weight: 700;">{{ item.inShareHolder ? 'Promoters Share-Holding: ' + item.PromotersShareHolding :
          'Data not found in
          Share-Holding file' }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-no-padding">
    <input #fileInput type="file" (change)="pickFile($event)" multiple hidden>
    <ion-button expand="block" (click)="fileInput.click()" color="success" style="margin: 5px;">Select CSV
      Files</ion-button>
  </ion-toolbar>
</ion-footer>