<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Personal Trading</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Insider Trading: {{ insiderTrading.length }} - {{ insiderTradingFiltered.length }}</ion-label>
    <!-- <ion-label>{{ insiderTrading[0] | json }}</ion-label> -->
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-no-padding">
    <input #fileInput type="file" (change)="pickFile($event)" accept=".csv" multiple hidden>
    <ion-button expand="block" (click)="fileInput.click()" color="success" class="ion-no-margin">Select CSV
      Files</ion-button>
  </ion-toolbar>
</ion-footer>