<ion-content color="secondary">
  <div class="container p-2 d-flex justify-content-center align-items-center vh-100">
    <div class="col-lg-5 col-md-8 mx-auto mobile-width">
      <div class="card shadow-lg border-0 rounded-lg">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4" style="color: var(--ion-color-primary); font-weight: 600;">
            Personal Trading</h3>
        </div>
        <div class="card-body p-2">
          <form [formGroup]="loginForm">
            <ion-row>
              <ion-col size="2" class="d-flex">
                <div class="mx-auto fs-24" style="margin-top: 13px;">
                  <ion-icon name="person" color="primary"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="10">
                <div class="form-floating">
                  <ion-input formControlName="username" label="Username" label-placement="floating" fill="outline"
                    placeholder="Enter username" type="text"></ion-input>
                </div>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
              </ion-col>
              <ion-col size="10" class="ion-no-padding">
                <ion-text *ngIf="submitted && loginForm.controls['username']?.invalid">
                  <p class="error-msg mb-0" *ngIf="loginForm.controls['username']?.errors?.['required']">
                    Username is required.
                  </p>
                </ion-text>
              </ion-col>

              <ion-col size="2" class="d-flex ion-margin-top">
                <div class="mx-auto fs-24" style="margin-top: 13px;">
                  <ion-icon name="key" color="primary"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="10">
                <div class="form-floating ion-margin-top">
                  <ion-input formControlName="password" label="Password" label-placement="floating" fill="outline"
                    placeholder="Enter password" [type]="passwordType">
                    <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)=showHidePassword()>
                      <ion-icon slot="icon-only" [name]="passwordIcon" aria-hidden="true"></ion-icon>
                    </ion-button>
                  </ion-input>
                </div>
              </ion-col>
              <ion-col size="2" class="ion-no-padding">
              </ion-col>
              <ion-col size="10" class="ion-no-padding">
                <ion-text *ngIf="submitted && loginForm.controls['password']?.invalid">
                  <p class="error-msg mb-0" *ngIf="loginForm.controls['password']?.errors?.['required']">
                    Password is required.
                  </p>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-button expand="block" color="secondary" (click)="onLogin()">Login</ion-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>