<ion-content [fullscreen]="true" color="dark">
    <table class="table table-striped table-dark text-end">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Price</th>
                <th scope="col">ASP</th>
                <th scope="col">Shares</th>
                <th scope="col">Total Shares</th>
                <th scope="col">Down Previous %</th>
                <th scope="col">Down Initial %</th>
                <th scope="col">Investment</th>
                <th scope="col">Total Investment</th>
                <th scope="col">Profit %</th>
                <th scope="col">Profit Price</th>
                <th scope="col">Profit Amount</th>
                <th scope="col">Total Profit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of averageData; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ formatIndianCurrency(data.price) }}</td>
                <td>{{ formatIndianCurrency(data.average_share_price) }}</td>
                <td class="text-primary">{{ formatIndianCurrency(data.new_shares) }}</td>
                <td class="text-primary">{{ (data.total_shares) }}</td>
                <td class="text-danger">-{{ data.down_percentage_from_previous }}%</td>
                <td class="text-danger">-{{ data.down_percentage_from_initial }}%</td>
                <td class="text-warning">{{ formatIndianCurrency(data.investment) }}</td>
                <td class="text-warning">{{ formatIndianCurrency(data.total_investment) }}</td>
                <td class="text-success">+{{ data.tp_percentage }}%</td>
                <td
                    [ngClass]="{'text-danger': data.tp_price < data.average_share_price, 'text-success': data.tp_price >= data.average_share_price}">
                    {{ formatIndianCurrency(data.tp_price) }}
                </td>
                <td [ngClass]="{'text-success': data.profit_amount > 0, 'text-danger': data.profit_amount < 0}">
                    {{ formatIndianCurrency(data.profit_amount) }}
                </td>
                <td
                    [ngClass]="{'text-danger': data.total_profit_amount < data.total_investment, 'text-success': data.total_profit_amount >= data.total_investment}">
                    {{ formatIndianCurrency(data.total_profit_amount) }}
                </td>
            </tr>
        </tbody>
    </table>
</ion-content>